html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

section#container {
  height: 100%;
}

div.diagramContainer {
  overflow: scroll;
}

div.diagramContainer svg {
  background: white;
}

div.diagramServerContainer img {
  background: white;
}

div.visualOptions {
  overflow: scroll;
}

div.visualOptions > label {
  display: table-row;
}

div.visualOptions > label > * {
  display: table-cell;
}
