html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

section#container {
  height: 100%;
}

/* Diagram styles */
text {
  text-anchor: middle;
}

rect {
  fill: linen;
  stroke: black;
  stroke-width: 0.3;
}

line {
  opacity: 0.30;
  stroke: black;
}

