html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  overflow: hidden;
  padding: 0;
}

section#container {
  height: 100%;
}

div.diagramContainer {
  display: flex;
  justify-content: center;
  overflow: scroll;
}

div.diagramWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: scroll;
}

div.diagramWrapper svg {
  background: white;
}
