@import '~golden-layout/dist/css/goldenlayout-base.css';
@import '~golden-layout/dist/css/themes/goldenlayout-light-theme.css';

body {
  font-family: system-ui;
}

.lm_header .lm_tab .lm_title {
  font-family: system-ui;
  font-size: initial;
  font-weight: 500;
  padding-top: 6px;
}

.lm_header .lm_tab, .lm_header .lm_tab.lm_active {
  padding-bottom: 20px;
}

.lm_header .lm_tab .lm_close_tab {
  top: 11px;
}

.lm_tab:hover {
  background: rgba(0, 95, 219, 20%)
}

.lm_tab.lm_active {
  background: rgb(0, 95, 219, 10%)
}

.lm_header .lm_controls > * {
  height: 30px;
}
